* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
  height: 100vh;
  background-image: url("./station.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  width: 450px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  opacity: 0.8;
  border-radius: 20px;
  border: 3px solid rgb(29, 28, 28);
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  width: 80%;
  margin-top: 1.5em;
  text-align: center;
}
h1 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  text-align: center;
  font-family: monospace;
  font-size: 6rem;
  margin: 2rem 0;
}
button {
  width: fit-content;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(210, 27, 24);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  margin: 1em;
}
button:active {
  scale: 0.95;
}
.buttons {
  display: flex;
}
button:nth-child(2) {
  background-color: blue;
}
p {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 800;
}
@media (max-width: 30em) {
  .counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    min-width: 90%;
  }
  button {
    width: 80%;
    margin-inline: auto;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  h1 {
    font-size: 2.5rem;
    white-space: nowrap;
    text-align: center;
  }
}
